# Python数据分析第一次作业（2022春）
根据题目要求，完成对共享单车数据的分析   
数据文件为在压缩包"citibike-tripdata.csv.zip"中，需要自行解压后进行处理。

## 1.读取数据，并分别显示前10行和后5行。（0.5分）

In [94]:
import pandas as pd
import numpy as np

data = pd.read_csv('citibike-tripdata.csv')

In [95]:
data[0:10]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789211,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2
5,545,2017-07-01 00:00:18,2017-07-01 00:09:24,361,Allen St & Hester St,40.716059,-73.991908,502,Henry St & Grand St,40.714215,-73.981346,21203,Subscriber,1954.0,2
6,1496,2017-07-01 00:00:18,2017-07-01 00:25:15,3233,E 48 St & 5 Ave,40.757246,-73.978059,546,E 30 St & Park Ave S,40.744449,-73.983035,15933,Customer,1971.0,1
7,1495,2017-07-01 00:00:19,2017-07-01 00:25:15,3233,E 48 St & 5 Ave,40.757246,-73.978059,546,E 30 St & Park Ave S,40.744449,-73.983035,18515,Customer,1964.0,2
8,593,2017-07-01 00:00:27,2017-07-01 00:10:20,3314,W 95 St & Broadway,40.793770,-73.971888,3363,E 102 St & Park Ave,40.790483,-73.950331,29135,Subscriber,1982.0,1
9,1950,2017-07-01 00:00:30,2017-07-01 00:33:00,3085,Roebling St & N 4 St,40.714690,-73.957390,468,Broadway & W 56 St,40.765265,-73.981923,17365,Subscriber,1983.0,1

In [96]:
data[-5::]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1735594,560,2017-07-31 23:59:33,2017-08-01 00:08:53,3260,Mercer St & Bleecker St,40.727064,-73.996621,236,St Marks Pl & 2 Ave,40.728419,-73.987140,16126,Subscriber,1990.0,2
1735595,272,2017-07-31 23:59:35,2017-08-01 00:04:08,247,Perry St & Bleecker St,40.735354,-74.004831,434,9 Ave & W 18 St,40.743174,-74.003664,27684,Subscriber,1999.0,1
1735596,1211,2017-07-31 23:59:37,2017-08-01 00:19:49,3303,Butler St & Court St,40.684989,-73.994403,3308,Kane St & Clinton St,40.686176,-73.996453,28402,Subscriber,1975.0,2
1735597,547,2017-07-31 23:59:48,2017-08-01 00:08:56,276,Duane St & Greenwich St,40.717488,-74.010455,127,Barrow St & Hudson St,40.731724,-74.006744,30150,Subscriber,1992.0,1
1735598,1816,2017-07-31 23:59:57,2017-08-01 00:30:13,3091,Frost St & Meeker St,40.717640,-73.948820,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,19643,Customer,NaN,0

## 2. 检查每个字段是否有缺失值，统计各字段缺失值比例，并将数值转化为百分比形式，保留两位小数，如9.99%；最后用平均数或众数填充。（0.5分）
(注意填充时一定要符合具体含义)

In [97]:
for col in data.columns:
    percentage= (data[col].isnull().mean())
    percentage = float(percentage)
    print(str(col) +": " + '%.2f%%'%(percentage*100))
    if(percentage > 0):
        fillin = data[col].mode()
        data[col].fillna(fillin)

tripduration: 0.00%
starttime: 0.00%
stoptime: 0.00%
start station id: 0.00%
start station name: 0.00%
start station latitude: 0.00%
start station longitude: 0.00%
end station id: 0.00%
end station name: 0.00%
end station latitude: 0.00%
end station longitude: 0.00%
bikeid: 0.00%
usertype: 0.00%
birth year: 13.17%
gender: 0.00%

## 3. 计算骑行时间(tripduration)字段的基本统计量，包括最大值、最小值、均值、各个四分位数及方差等。（0.5分）

In [98]:
data['tripduration'].describe()

count    1.735599e+06
mean     1.060143e+03
std      9.622457e+03
min      6.100000e+01
25%      3.950000e+02
50%      6.760000e+02
75%      1.183000e+03
max      2.477222e+06
Name: tripduration, dtype: float64

## 4. 统计骑行时间大于等于2天的记录个数，并将相应记录从原DataFrame中剔除。（0.5分）
骑行时间(tripduration)字段的单位为秒

In [99]:

data.drop(data.loc[data['tripduration'] >= 2*24*60*60].index,inplace=True)
#檢查
for element in data['tripduration']:
    if(element >= 2*24*60*60):
        print(element)
        #沒有印出任何東西=> 正確

## 5. 检查站点id和站点name是否一一对应。如果有id相同name不同，或id不同name相同的，将这些记录从数据中剔除。（0.5分）

In [100]:
#dict
grouping = data.groupby('start station id')
for i in grouping['start station name'].nunique():
    if i!=1:
        data.drop(data.loc[data['start station name'] == i].index,inplace=True)
        
grouping_end = data.groupby('end station id')
for i in grouping_end['end station name'].nunique():
    if i!=1:
        data.drop(data.loc[data['end station name'] == i].index,inplace=True)

## 6. 根据bikeid字段统计在数据中有多少辆不同的自行车。（0.5分）

In [101]:
print("有"+str(data['bikeid'].unique().size)+"辆不同的自行车")

有10422辆不同的自行车

## 7. 统计每辆自行车的骑行次数、总骑行时间、平均每次骑行时间、到过（出发或结束）的站点个数。（1.5分）
生成以bikeid为index、指标为columns的DataFrame

In [102]:
bike = pd.DataFrame(index=data['bikeid'].unique(), columns=['total ride','total time','average time','stations count'])
bike['total ride'] = data['bikeid'].value_counts() #骑行次数
bike['total time'] = data.groupby('bikeid')['tripduration'].sum()
bike['average time'] = data.groupby('bikeid')['tripduration'].mean()
bike['station counts'] = data.groupby('bikeid')['start station id'].count()

print(bike)

       total ride  total time  average time stations count  station counts
14744         184      202960   1103.043478            NaN             184
19587         126      134979   1071.261905            NaN             126
27937         182      165866    911.351648            NaN             182
26066         175      146456    836.891429            NaN             175
29408         221      214715    971.561086            NaN             221
...           ...         ...           ...            ...             ...
29210           1         386    386.000000            NaN               1
28221          10        6122    612.200000            NaN              10
26832          10       10768   1076.800000            NaN              10
29644           2         939    469.500000            NaN               2
19118           1         785    785.000000            NaN               1

[10422 rows x 5 columns]

## 8. 统计出发站点、结束站点的个数，并考察两类站点的集合是否相等。（1分）

In [103]:
start = data['start station id'].unique().size
end = data['end station id'].unique().size
print(start,end)
if(start !=end):
    print("二者並不相等")
else:
    print("二者相等")

623 634
二者並不相等

## 9. 统计以各站点作为起始站点和结束站点的行程数，并找到出发行程最多的前三个站点的id和name，和结束行程最多的前三个站点的id和name。（1分）

In [104]:
start_station = data.groupby(['start station id','start station name']).size()
print(start_station.sort_values(ascending=False)[:3])

#data.groupby('start station name')

start station id  start station name
519               Pershing Square North    14853
426               West St & Chambers St    14118
514               12 Ave & W 40 St         12263
dtype: int64

## 10. 统计每天7:00-9:00最繁忙（出发和结束行程最多）的3个站点。（1分）
（包括起始行程和结束行程）

In [105]:
import time

In [106]:
data['starttime'] = pd.to_datetime(data['starttime'])
seven_nine = data[data['starttime'].dt.hour.isin(np.arange(7, 10))]
a = seven_nine.groupby('start station name').size()
b = seven_nine.groupby('end station name').size()
print("每天7:00-9:00最繁忙（出发和结束行程最多）的3个站点与其行程数量")
(a+b).sort_values(ascending=False)[:3]

每天7:00-9:00最繁忙（出发和结束行程最多）的3个站点与其行程数量

Pershing Square North    7120.0
E 47 St & Park Ave       5310.0
Broadway & E 22 St       4523.0
dtype: float64

## 11. 统计每天17:00-19:00最繁忙的3条（有向）路线。（1分）
（A->B与B->A算作两条不同路线）

In [107]:
five_seven = data[data['starttime'].dt.hour.isin(np.arange(17, 19))]
c = seven_nine.groupby(['start station name','end station name']).size()
print("17：00-19：00前3繁忙路线如下")
c.sort_values(ascending=False)[:3]

17：00-19：00前3繁忙路线如下

start station name          end station name
E 7 St & Avenue A           Cooper Square & E 7 St       395
Richardson St & N Henry St  Graham Ave & Conselyea St    197
E 102 St & 1 Ave            2 Ave & E 96 St              193
dtype: int64

## 12. 统计usertype的中用户类型个数，并分析每类用户在骑行时长、每天骑行时间段上的差异（1.5分）

In [108]:

usertype = data.groupby('usertype')
print("有"+str(usertype.size().size)+"种用户类型")
print("以下打印出用户类型名称与其骑行时长的基本统计量")
for i in usertype.size().index:
    user_data = usertype.get_group(i)
    print(i)
    #print(user_data)
    print(user_data['tripduration'].describe())

有2种用户类型
以下打印出用户类型名称与其骑行时长的基本统计量
Customer
count    261514.000000
mean       1770.311486
std        3855.643294
min          61.000000
25%         850.000000
50%        1292.000000
75%        1741.000000
max      172653.000000
Name: tripduration, dtype: float64
Subscriber
count    1.473758e+06
mean     8.132857e+02
std      1.437236e+03
min      6.100000e+01
25%      3.670000e+02
50%      6.030000e+02
75%      1.021000e+03
max      1.725300e+05
Name: tripduration, dtype: float64